<div class="container-fluid">
    <header class="row header-content">
        <div class="col-md-10">
            <h3>{{contents.title}}</h3>
        </div>
        <div class="col-md-2 text-right"><button class="btn-primary header-btn" (click)="playSwf()" style="margin: 0.5em;">?</button><button class="btn-primary header-btn">x</button></div>
    </header>
    <section style="margin:1em">
        <div class="row">
            <div class="col-md-1">
                <a class="btn header-reader-btn" style="line-height:1.7em;" tabindex="0" (click)="playTestPassed(contents.directions)">
                    <img src="/assets/img/s1.png" style="width:1.6em" alt="Read header">
                </a>
            </div>
            <div class="col-md-11">
                <h6 style="line-height: 3em; margin-left: -2em;">{{contents.directions}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 question-section">
                <ng-container *ngIf="contents.rounds">
                    <span [innerHTML]="contents.rounds[currentRound].questions[currentQuestion].text"></span>
                </ng-container>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>
    <section style="margin-bottom:1em;">
        <div class="row" style="margin: 0 6em;">
            <div class="col-md-6">
                <img [src]="currImageName" style="border:1px solid #000" id="vault_image">
            </div>
            <div class="col-md-6" style="margin-top: 1em;">
                <ul class="list-group">
                    <ng-container *ngIf="contents.rounds">
                        <li class="list-group-item answer-options" *ngFor="let option of contents.rounds[currentRound].questions[currentQuestion].answers; let indx = index;">
                            <button class="btn-ascent answer-button" (click)="optionSelected(indx)" [ngClass]="{'btn-warning': selectedAnswerIndex==indx}"> <img src="/assets/img/s2.png" style="width: 3em;" alt="Answer options"></button> {{option}}
                        </li>
                    </ng-container>
                </ul>
                <div class="float-right"><button class="btn-primary" style="border-radius: 2em; margin-right: 1em;width: 5em;" (click)="resetOption()">Reset</button><button [ngClass]="{'btn-primary':!okButtonDisabled,'btn-disabled':okButtonDisabled}" style="border-radius: 2em;width: 5em;"
                        [disabled]="okButtonDisabled" (click)="okClicked()">OK</button></div>
            </div>
        </div>
    </section>
    <footer class="row" style="border-top: 4px solid #eae548e8; background-color: #d22e1ecf; height: 4em;">
        <div class="col-md-12 text-center" style="margin-top: 1em; color: #eae548e8;">
            <div class="sliderBtn" [ngClass]=" { 'sliderBtnFilled': currentRound === 'round1'}"></div>
            <div class="sliderBtn" [ngClass]=" { 'sliderBtnFilled': currentRound === 'round2'}"></div>
            <div class="sliderBtn" [ngClass]=" { 'sliderBtnFilled': currentRound === 'round3'}"></div>
        </div>
    </footer>
</div>